* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    user-select: none;
}

#sketch-container {
    position: fixed;
    z-index: 0;
}

#menu {
    position: absolute;
    z-index: 1;
}

.jscolor {
    width: 100px;
}